<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tooltip">dddddd</div>
    <style>
        
    </style>
    <div>
        
        

       
        <img src="/static/image/image4.jpg" alt="" usemap="#imgmap2023312235654" >
        <map id="imgmap2023312235654" name="imgmap2023312235654">
            <area shape="rect" alt="Toyama"  title="Toyama" coords="494,14,584,84" href="{% url 'user:Toyama' %}" target=""  tag = "sdfa"  />
            <area shape="rect" alt="Takayama" title="Takayama" coords="514,261,599,328" href="{% url 'user:Takayama' %}" target="" />
            <area shape="rect" alt="Gero" title="Gero" coords="495,419,613,498" href="{% url 'user:Gero' %}" target=""  />
            <area shape="rect" alt="Nagoya" title="Nagoya" coords="355,681,499,773" href="{% url 'user:Nagoya' %}" target=""  /><!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) --></map>
        


    </div>
</body>
</html>