로그인 페이지
<br>
{% if user.is_authenticated %}
    로그인 성공!
    {{user.username}}님 환영합니다.
    <a href="{% url 'user:logout' %}">로그아웃</a>
    <br>
    <div>
        <img src="users\templates\users\cfile2.uf.250F723C56497F4E0FFA23.jpg" alt="내이미지1" />
        <img src="C:\Users\gog81\Desktop\2023-1\capstone\login-master\login-master\users\templates\users\img.JPG" alt="내이미지2">
        <img src="pngwing.com.png" alt="내이미지3">
        



    </div>
{% else %}

<form action="" method="POST">
    {% csrf_token %}
    <input name="username" type="text">
    <input name="password" type="password">
    <input type="submit" value="로그인">
</form>
<a href="{% url 'user:signup' %}">회원가입</a>


<div>
    
    <!-- <ul class="messages">
     {% for message in messages %}
         {{ message.tag }}
         {{ message }}
     {% endfor %}

    </ul> --> 
    <script>
    var msg = "{{msg}}"
    if(msg =="입력실패" )
    {
      alert(msg)

    }
    </script>
<div>
    
    
 
    	
</div>
</div>


{% endif %}